html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'OpenSans';
	src: url("fonts/OpenSans-Regular.ttf") format('truetype');
}

body{
	font-family: 'OpenSans', Arial, Helvetica, sans-serif;
	padding:0;
	overflow-x: hidden;
}

/* Custom colored button */
.btn-quintessentiel {
    color: #fff;
    background-color: #bcd13f;
    border-color: #bcd13f;
}

.btn-quintessentiel.focus,
.btn-quintessentiel:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(41, 35, 35,.25);
}

/* Order CSS */

.buttons {
  padding: 15px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn-img {
  max-width: 20px;
}

.add-order {
    margin-top: 30px;
    margin-left: 50px;
}

.add-order label {
    padding-bottom: 10px;
    padding-top: 10px;
}

.add-order input {
    border: none;
    border-bottom: 1px solid #ecf0f1;
}

.tab-header {
  background-color: #bcd13f;
}

.cases {
  border: 1px solid #342c2c;
  text-align: center;
}

/* Inventory page CSS */
.center {
  max-width: 1300px;
  margin: 0 auto;
}

.panel {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}

.panel-header {
    flex: 0 1 40px;
    background-color: #ecf0f1;
    border: 2px solid #bdc3c7;
    color: black;
    padding: 8px;
}

.panel-header h1,h2,h3,h4,h5,h6 {
    text-align:center;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.panel-body {
    background-color: #fbfbfb;
    border: 2px solid #bdc3c7;
    border-top: none;
    padding: 10px;
}

.full .panel-body{
    flex: 1 1 auto;
}

.default {
    color: black;
    background-color: #bdc3c7;
    border: 2px solid #7f8c8d;
}

.delete {
    color: white;
    background-color: #e74c3c;
    border: 2px solid #c0392b;
}

.edit {
    color: white;
    background-color: #3498db;
    border: 2px solid #2980b9;
}

.add {
    color: white;
    background-color: #2ecc71;
    border: 2px solid #27ae60;
}

.manager-button.delete:hover {
    background-color: #c0392b;
}

.manager-button.edit:hover {
    background-color: #2980b9;
}

.manager-button.add:hover {
    background-color: #27ae60;
}

.manager-buttons-div{
    min-height: 50px;
    display: block;
    width: 100%;
}

.manager-button {
    width: 45px;
    height: 45px;
    padding: 5px;
    display: inline-block;
    float: right;
    margin-right: 2px;
    margin-left: 2px;
}

.manager-button.disabled {
    opacity: 0.5;
}

.manager-button.disabled:hover {
    cursor: default;
}

.manager-button:hover{
    cursor: pointer;
}

.manager-button img{
    display: block;
    margin: auto;
}

.inventory-manager-table{
    display: block;
    overflow: scroll;
    overflow-y: hidden;
}

.inventory-manager-table table {
    width: 100%;
    margin-top: 10px;
}

.inventory-manager-table thead {
    background-color: #ececec;
    font-weight: bold;
    text-align: center;
}

.inventory-manager-table td {
    padding:5px;
    text-align: center;
    border:1px solid black;
}

.inventory-manager-table td img {
    width: 60px;
    height: 60px;
}

.modals {
    max-width: 475px;
    display: none;
    margin: 0 auto;
    z-index: 0;
}

.modals.open {
    position: relative;
    display: flex;
    top:5%;
    max-width: 475px;
}

.modal-container{
    background-color:#000000a1;
    width:100%;
    height:100%;
    z-index: 1;
    position:absolute;
    display: none;
}

.modal-container.open{
    display: block;
}

.modals label {
    font-weight: bold;
}

.modals input {
    margin-bottom: 12px;
    padding-right: 1px;
    padding-left: 1px;
    display: block;
}

.modals textarea {
    resize: none;
    padding-right: 1px;
    padding-left: 1px;
    margin-bottom: 12px;
}

.modals select{
    height: 30px;
    margin-bottom: 8px;
    padding-right: 1px;
    padding-left: 1px;
}

.modals input[type="checkbox"]{
    display: inline-block;
    margin-left: 15px;
}

.file-btn{
    display: inline-block;
    background-color: #bdc3c7;
    padding: 3px;
    float:right;
    text-align: center;
}

/* Actual File Input. Hidden */
#product_image{
    height:100%;
    width:77px;
    opacity: 0;
    z-index: 9999;
    position: absolute;
}

.addProd-btn{
    padding: 5px;
    font-size: 19px;
    color: white !important;
    text-align: center;
    float:right;
    margin-right: 5px;
    margin-left: 5px;
}

a.cancel-btn{
    padding: 5px;
    font-size: 19px;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}

a[class*="-btn"]:hover{
    cursor: pointer;
}

img {
	/* évite que l'image ne s'agrandisse plus que sa taille maximale*/
    max-width: 100%;
    height: auto;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}


/* start of desktop styles */


@media screen and (max-width: 991px) {
/* start of large tablet styles */


}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
/* start of phone styles */
    .modals.open {
        position: relative;
        display: block;
        top:5%;
        margin: 0 auto;
        width: 98%;
        max-width: 475px;
    }
}


/************** My recipes page style **************/

.recipes-wrapper {
    max-width: 90% !important;
    margin: 30px auto;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
}

.recipes-wrapper a {
    text-decoration: none;
    color: #000;
}

.thead-light {
    font-weight: 600;
}

.table td:hover {
    cursor: pointer;
}

.recipes-wrapper .btn {
    margin-bottom: 20px;
}

.switch-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 0;
    margin-bottom: 16px;
}

.custom-recipe {
    margin-left: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #bcd13f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #bcd13f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/************** CSS style edit recipe modal ********************/
.ingredients-list {
    display: flex;
    flex-direction: column;
}

.ingredient-item, .product-item {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.label-volume {
    width: 25%;
    padding-left: 10px;
}

.input-volume {
    width: 25%;
}

.btn-remove {
    align-self: flex-end;
}

/**** Invalid form input ****/
.invalid-input {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

/************** Estimation modal style *****************/

.disabled-input {
    border: none !important;
    background-color: #fff !important;
}

/************** CSS style navigation bar + links **************/

.img-logo-nav {
  width: 350px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5px 30px;
}

.navbar-light {
  background-color: #fff !important;
}

.navbar-nav {
  margin-right: 100px;
  padding:0;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Title bar */
.page-title-bar {
  background-color: #342c2c;
  padding: 17px 20px;
}

.page-title-bar h1 {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 28px;
  margin: 0;
}

.dropdown-menu {
  border: 1px solid #7c8c34;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #7c8c34;

}


/* ===== <Catalog>  =====*/

/* Search section */
.search-section{
    text-align: center;
    margin-top:15px;
}

.search-section input,.search-section select{
    width:200px;
    height:25px;
}
.search-section input{
    font-family: "Raleway";
    font-size:25px;
    width:30%;
    min-width:250px;
    height:45px;
    border:1px solid black;
    padding-left: 5px;
    outline:0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 99% center;
}

.search-section input:focus{
    transition-duration: 1s;

    color:white;
    caret-color:white;
    border:1px solid white;
    background-color: #342c2c;
    background-image: none;
}

.search-section p{
    font-size: 22px;
}

.search-section select{
    font-size: 20px;
    width:220px;
    height:30px;
}

.search-section #filter{
    font-family: 'Raleway',sans-serif;
}

.search-section #filter{
	font-family: 'Raleway',sans-serif;
}

/* Product section */
.page{
    position: relative;
    min-height:100vh;
    background-color: #F8F9FA;
}

.main-section{
    padding-bottom: 120px;
}

.product-section{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.product-section .product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width:25%;
    padding-top:20px;
    margin-top:20px;
    margin-right:10px;
    margin-left:10px;
    padding-right:1%;
    padding-left: 1%;
    border:2px solid #292323;
    box-sizing: content-box;
    transition-duration: 1s;
    text-decoration: none;
    background-color: #342c2c;
    color: white;

}

.product-section .product h2{
    word-wrap: break-word;
}

.product-section .product img{
    flex-direction: row;
    align-self: center;
    width:170px;
    height:150px;
}

.product-section .bottom-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-top:30px;
}

.product:hover{
    color:black;
    background-color: white;
    cursor:pointer;
}


.single-product{
    width:70%;
    margin:auto;
    text-align: left;
    margin-top:30px;
    background-color: #F8F9FA;
    border:5px groove #F8F9FA;
}

.single-product img{
    width:30%;
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    border:5px solid #292323;
    margin-left:5%;
    margin-top:5%;
}

.single-product .desc{
    width:70%;
    font-size:22px;
    display: inline-block;
    vertical-align: middle;
    padding-top:50px;
    margin-left:5%;
    padding-bottom:50px;
}

.single-product .side-text{
    margin-left:15%;
    margin-top:150px;
    min-width:20%;
    display: inline-block;
    background-color: #342C2C;
    color:white;
    padding:20px;
    font-size: 30px;
}

.single-product .side-text span{
    text-align: left;
    display: block;
}

.align-center a{
    color:#bcd13f;
}

.align-center a:hover{
    color:#bcd13f;
}

.align-center{
    text-align:center;
    margin-top: 50px;
    font-size: 25px;
}

.single-product {
	width:70%;
	margin:auto;
	text-align: left;
	margin-top:30px;
	background-color: #F8F9FA;
	border:5px groove #F8F9FA;
}

.single-product img {
	width:100%;
	min-width: 200px;
	display: inline-block;
	vertical-align: top;
	border:5px solid #292323;
}

.single-product .desc {
	width:70%;
	font-size:22px;
	display: inline-block;
	vertical-align: middle;
	padding-top:50px;
	margin-left:5%;
	padding-bottom:50px;
}

.single-product .side-text {
	margin-left:20%;
	margin-top:150px;
	min-width:20%;
	display: inline-block;
	background-color: #342C2C;
	color:white;
	padding:20px;
	font-size: 30px;
}

.single-product .side-text span {
	text-align: left;
	display: block;
}

.align-center a {
	color:#bcd13f;
}

.align-center a:hover {
	color:#bcd13f;
}

.align-center {
	text-align:center;
	margin-top: 50px;
	font-size: 25px;
}

.img-container{
  width: 30%;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  display: inline-block;
  vertical-align: top;
}

.img-zoombox{
  border: 2px solid #B0B0B0;
  cursor: none;
  position: absolute;
  width: 45%;
  height: 45%;
}

/* Link Section */
.link-page-box{
    display: block;
    width:100%;
    text-align: center;
    padding-top:20px;
}

.link-page-box a{
    margin-right:5px;
    margin-left:5px;
    font-size:25px;
    color:#bcd13f;
}

.link-page-box:hover a{
    color:#bcd13f;
}

/* Footer section */
.classic-footer{
    background-color: #292323;
    width:100%;
    position:absolute;
    bottom:0;
}

.classic-footer p{
    text-align: center;
    color:white;
    margin:0;
    padding-top:40px;
    padding-bottom:40px;
}

/* === </Catalog> === */



/* === <Payment> === */

.payment-form{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    width:30%;
    min-width:320px;
    margin:auto;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    font-size:20px;
}

.payment-form input,.payment-form select{
    width:300px;
    height:30px;
    margin:auto;
    font-size:25px;
    font-family: 'Raleway', sans-serif;
    border:0;
    border-bottom:2px solid black;
    outline:0;
    transition-duration: 1s;
    order:2;
}


.payment-form #province{
    border-radius: 1px; /* hides the border */
}

.payment-form label:nth-child(1){
    display: none;
}

.payment-form label{
    position: relative;
    top:25px;
    width:100%;
    display: block;
    margin-top:10px;
    color:grey;
    font-style: italic;
    order:1;
    animation: animLabel 0.5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.payment-form input:focus + label{
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.payment-form select:focus + label{
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.payment-form button{
    width:200px;
    margin:auto;
    margin-top:100px;
}


.__PrivateStripeElement-input{
    position: static !important;
}

#card-element{
    width:300px;
    margin:auto;
    border-bottom:2px solid black;
}

#card-errors{
    width:100%;
    margin-top:5px;
}

#payment-state{
    text-align: center;
    font-size:30px;
}

.payment-success{
    color:green;
}

.payment-error{
    color:red;
}


.infos-client{
    text-align: center;
    font-size:30px;
}

.link-previous{
    text-align: center;
}

@keyframes animLabel{

    0%{
        top:25px;
    }

    100%{
        top:0;
    }
}

/* === </Payment> === */


@media screen and (max-width: 991px) {

    /* start of large tablet styles */
    .single-product{
        text-align: center;
    }

    .single-product .side-text{
        display: block;
        width:50%;
        margin:auto;
        margin-top:100px;
        font-size: 20px;
    }

    .single-product .desc{
        margin-top:50px;
    }


    /* Product changes */
    .product-section .product{
        width:35%;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
	/* start of medium tablet styles */

	/* Product changes */
	.product-section .product{
		width:65%;
	}

	/* Search section changes */
	.search-section p{
		display: block;
    }

    /* Recipes list display changes (myrecipes) */
    .recipes-wrapper {
        align-items: flex-start;
        max-width: 100%;
    }
    .recipes-wrapper .btn {
        position: absolute;
        align-self: flex-start;
    }

    .recipes-wrapper .table {
        margin-top: 50px;
    }

}

@media screen and (max-width: 425px) {
    /* start of phone styles */

    .single-product{
        text-align: center;
        width:95%;
    }

    .single-product .side-text{
        display: block;
        width:80%;
        margin:auto;
        margin-top:100px;
        font-size: 20px;
    }

    .single-product .desc{
        text-align: left;
        padding:0;
        margin:0;
        padding-bottom: 50px;
        margin-top:50px;
    }

    /* Product section changes */
    .product-section{
        width:100%;
    }

    .product-section .product{
        width:70%;
    }

}
	/* ========Login========*/
.login-container{
  padding-top: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .loginConnect {
	  max-width: 350px;
	  height: 150px;

	}
  .loginConnect form{
    text-align:center;
  }

	.loginConnect .input {
	  width:75%;
	  max-width:250px;
	}
  .loginConnect .loginlbl:after {
    display:block;
    white-space: pre;
    content: "\a";
	}

	.loginConnect .input[type=submit] {
	  width:75%;
	  max-width:200px;
	}


  .loginConnect .loginInput:after {
    display:block;
    white-space: pre;
    content: "\a";
	}

	.loginConnect .loginSub {
	  width:75%;
	  max-width:150px;
	}

  .loginConnect .label ::before{
    content: "\a";
    white-space: pre;
  }
